.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    margin: 0;
    box-sizing: border-box;
}

*::after{
    content: "";
    clear: both;
    display: block;
}

@font-face {
    font-family: 'ultratype_betaregular';
    src: url(./fons/17225-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'balkanbold';
    src: url(./fons/17338-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

.header{
    background: linear-gradient(#FBF2EB, #352A3B);
    border-bottom: 4px solid rgb(17, 16, 16);
    margin-bottom: 30px;
    font-family: 'ultratype_betaregular';
}

.logo{
    float: left;
    padding-left: 30px;
}

.header__nav, 
.footer__nav{
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
}

.menu, .menu ul{ 
    list-style: none;
    padding: 0;
    margin: 15px;
    display: inline-block;
}

.menu ul{
    display: none; /*при none выплываюий список не виден, только придействии (hover) он появляется*/
    position: absolute; /*Поверх меню всплывающее окно*/
    left: 0;
    top: 100%;
    background: rgb(180, 149, 149);
    width: 230px;
    white-space: nowrap; /*без переноса строки*/
}

.menu a{
    color: rgb(8, 8, 8);
    display: block;
    padding: 4px 10px;
    text-decoration: none;
    width: 120px;   
}

.menu > li{
    float: left;
    position: relative; /*что бы было под ссылкой "Новини" (не слитало)*/
}

.menu > li:hover ul{
    display: block;
}

.content{
    float: left;
}

.main__section{
    max-width: 720px;
    
}

.title{
    border-bottom: 3px solid #1D9E74;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'ultratype_betaregular';
}

.title1{
    border-bottom: 1px solid #1D9E74;
    font-family: 'ultratype_betaregular';
    margin-top: 40px;
}

.main__section__article-hr, 
.main__aside__article-hr, 
.footer-hr{
    color: rgb(145, 141, 141);
    margin-top: 10px;
    margin-bottom: 10px; 
}

.footer-hr{
    color:#1D9E74;
}

.main__section__article, .main__aside__article{
    font-family: 'balkanbold';
}

.main__section__article figure, .main__aside__article figure{
    margin: 0px 0px;
}

.main__section__article figure{
    padding-top: 30px; 
}

.main__section__article a{
    font-size: 18px;
    text-decoration: none;
    color: rgb(8, 8, 8);
    float: left;
    line-height: 1.5;
}

.main__section__article div p, .main__aside__article div p{
    margin-left: 240px;
    line-height: 1.5;
    color:#636b6f;  
}

.main__aside{
    margin-left: 20px;
    float: right;
    width: 450px;
}

.main__aside__article a{
    float: left;
}

.main__aside__article div p{
    margin-left: 95px;
}

.footer{
    background: linear-gradient(#352A3B, #FBF2EB);
    font-family: 'ultratype_betaregular';
    
}

.footer__nav-partners{
    font-weight: 600;
    font-size: 20px;
    color:rgb(30, 32, 31);
    text-transform: uppercase;
    font-family: 'ultratype_betaregular';
}

.footer__nav-pikchers{
    width: 200px;
}

