body{
    overflow-x: hidden;
}

*, *::after, *::before{
    box-sizing: inherit;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 10px;
}

.header-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-block__logo a{
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #e8603c;
    line-height: 38px;
}

.header-block__logo a span{
    opacity: .5;
}

.header-block__nav__menu{
    display: flex ;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-block__nav__menu li + li{
    padding-left: 25px;
}

.header-block__nav__menu a{
    color: #b9b9b9;                          
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;                         
}

.header-block__nav a:hover {                
    color: #e8663c;
}

/* --------------Бургер меню (кнопка)---------- */
.header-block__nav-btn{
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #868484;
    display: none;
    cursor: pointer;
}

.header-block__nav-btn::before,
.header-block__nav-btn::after{
    position: absolute;
    left: 0;
    top: -8px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #868484;
}

.header-block__nav-btn::after{
    top: 8px;
}

/* ---------------------------------------------- */

/* Полосы */
.slider__top{
    position: relative;
}

.slider__top::before,
.slider__top::after{
    content: '';
    position: absolute;
    top: 0;
    background-color: #f3b29d;
    height: 60px;
    width: 1000%
}

.slider__top::before{
    left: 100%;
    margin-left: 10px;
}

.slider__top::after{
    margin-right: 10px;
    right: 100%;
}
/* --------------------------------------- */


.slider__top-title1,
.slider__top-title2,
.slider__top-title3,
.slider__top-title4,
.slider__top-title5,
.slider__top-title6{
    min-height: 401px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 36px;
    padding-bottom: 32px;
    display: flex !important;
    align-items: flex-end;
}

.slider__top-title__signature{
    width: 413px;
    background-color: rgba(232, 102, 60, .8);
    padding: 20px 28px 22px 17px;
}
    
.slider__top-title__signature h1{
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    font-weight: 400;
    margin: 0 0 18px 0;
}

.slider__top-title__signature h3{
    font-size: 12px;
    font-family: HelveticaNeue, sans-serif;
    color: #fff;
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
}


.slick-list.draggable{
    padding: 0 !important;
}

.slick-track{
    width: 960px;
}

.slider-down{
    margin-top: 18px;  
    margin-bottom: 35px;  
}

.slider-down__item{
    width: 140px;
    height: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider-down__item:hover{
    cursor: pointer;
}

.slider-down .slick-slide {
    max-width: 140px !important;
}

.slider-down .slick-track div+div{
    margin-left: 24px;
}


/*------------------Кнопки слайдера--------------------*/

.slick-prev{
    background-image: url(../img/previous.png);
    width: 36px;
    height: 52px;
    left: 27px;
    top: 179px;
    z-index: 100
}

.slick-next{
    background-image: url(../img/next.png);
    width: 36px;
    height: 52px;
    right: 27px;
    top: 179px;
    z-index: 100
}

.slick-prev:before,
.slick-next::before {
    display: none;
}

.slick-next:hover,
.slick-next:focus{
    background-image: url(../img/next.png);
}

.slick-prev:hover,
.slick-prev:focus{
    background-image: url(../img/previous.png);
}

/* ---------------------------------------------- */






.articles{
    display: flex;
    justify-content: space-between;
}

.articles__first,
.articles__second,
.articles__third{
    max-width: 275px;
    height: 255px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 43px;
}

.articles__first{
    background-image: url(../img/icon-gear.png);
    background-position: left top;
    background-repeat: no-repeat;
}
.articles__second{
    background-image: url(../img/icon-ok.png);
    background-position: left top;
    background-repeat: no-repeat;
}

.articles__third{
    background-image: url(../img/icon-people.png);
    background-position: left top;
    background-repeat: no-repeat;
}

.articles__name{
    margin-left: 70px;
    margin-bottom: 30px;
}

.articles__name a{
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(232, 102, 60);
}

.articles__text{
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    color: #414141;
    line-height: 1.5;
}

.articles__button{
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 14px;
    height: 31px;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 12px;
    background-color: #e8663c;
    margin-top: auto;
}

.articles__button a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}
  


.Recent-works{
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    color: #e8663c;
    margin-left: 2px;
    background-color: #f0f0f0;
    margin-bottom: 23px;
}


.Recent-works span{
    display: inline-block;
    padding-right: 15px;
    background-color: #ffffff;
}

.for-pikchers{
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.for-pikchers a{
    height: 183px;
}

.for-pikchers img{
    object-fit: cover;
}

.for-pikchers__first,
.for-pikchers__second,
.for-pikchers__third,
.for-pikchers__forth{
    display: flex;
    flex-direction: column;  
}

.descr{
    padding: 11px 14px 13px 14px;
    border: 1px solid #dbdbdb;
    border-top: none;
    font-family: 'Bebas Neue', cursive;
}

.descr a{
    text-decoration: none;
    color: #b9b9b9;
    font-size: 16px;
    text-transform: uppercase;
}

.descr span{
   line-height: 1.6;
   color: #e8663c;
   font-size: 11px;
}


  


.footer{
    background-color: #e8663c;
    padding: 35px 39px 30px 32px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer::before,
.footer::after{
    content: '';
    position: absolute;
    top: 0;
    background-color: #f3b29d;
    height: 100%;
    width: 1000%
}

.footer::before{
    left: 100%;
    margin-left: 10px;
}

.footer::after{
   margin-right: 10px;
    right: 100%;
}

.footer__first,
.footer__second,
.footer__third{
    width: 265px;
}

.footer__title{
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    color: #ffffff;
    text-transform: uppercase;
   
}

.footer__text{
    padding-top: 22px;
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    color: #ffffff;
    margin: 0;
}

.footer__time{
    font-family: Helvetica, sans-serif;
    color: #f3b29d;
    font-size: 12px;
    text-transform: none;
    padding-top: 6px;
}

.footer__second a{
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    color: #f3b29d;
    font-size: 12px;
    text-decoration: none;
}

.footer__third a{
    
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
}

.footer__mail{
    margin: 0;
    padding-top: 12px;
}

.footer__number{
    margin: 0;
}

.contacts1,
.contacts2,
.contacts3,
.contacts4,
.contacts5{
    height: 30px;
    width: 30px;
}

.contacts{
    display: flex;
    padding-top: 18px;
}

.contacts a+a{
    margin-left: 6px;
}

